@font-face {
  font-family: "Tourney";
  src: url("../fonts/Tourney-Regular.ttf") format("truetype");
}

h1.heading {
  font-family: "Tourney";
  font-weight: 200;
  background: linear-gradient(to right, rgb(92, 1, 54), rgb(14, 53, 138));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.164);
  filter: brightness(2);
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  background: linear-gradient(
    to top,
    rgb(9, 5, 19),
    rgba(54, 44, 104, 0.952),
    40%,
    rgb(13, 13, 14)
  );
  z-index: 3;
}

.planet {
  background-color: rgb(1, 20, 46);
  border-radius: 50%;
  border-left: 5px solid rgba(56, 157, 224, 0.822);
  width: 90%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: translate(60dvw, 70dvh);
  box-shadow: 10px 50px 200px 200px rgba(5, 89, 95, 0.596),
    10px 50px 200px 200px rgba(4, 140, 158, 0.548),
    1px 1px 50px 50px rgba(44, 96, 126, 0.911),
    inset 10px -30px 15px 25px rgba(49, 179, 212, 0.411),
    inset 100px -80px 80px 80px rgba(33, 106, 175, 0.911);
  opacity: 0.5;
  filter: brightness(1.2);
  z-index: 3;
}

footer {
  color: rgb(230, 230, 230);
}
