:root {
  /* Colors */
  --body-bg: rgb(21, 13, 31);
  --device-bg: rgb(17, 17, 17);
  --device-border: rgba(252, 252, 252, 0.726);
  --outline-color: rgb(34, 34, 34);

  --text-color: rgb(230, 230, 230);

  --keys-color: white;
  --keys-bg: #1f1e1e;
  --keys-shadow-on: rgba(30, 177, 42, 0.671);
  --keys-shadow-off: rgba(114, 114, 114, 0.473);
  --keys-hover: rgb(48, 48, 48);
  --keys-active: rgb(66, 66, 66);
  --keys-border: #1f1e1e;

  --display-font: "SevenSegment";
  --diplay-font-size: 1.8rem;
  --display-border: rgb(30, 99, 35);
  --display-text: rgb(61, 189, 22);
  --display-off: rgba(9, 31, 10, 0.623);
  --display-on: rgb(14, 13, 13);

  --TEXT-SHADOW-COLOR: rgb(108, 207, 51);
  --BOX-SHADOW-COLOR: rgba(4, 104, 25, 0.507);
  --BOX-SHADOW-PROPS: 1px;
  --INTENS-1: 100px;
  --INTENS-2: 20px;
  --BOX-SHADOW: inset var(--BOX-SHADOW-PROPS) var(--BOX-SHADOW-PROPS)
      var(--INTENS-1) var(--BOX-SHADOW-COLOR),
    inset var(--BOX-SHADOW-PROPS) var(--BOX-SHADOW-PROPS) var(--INTENS-2)
      var(--BOX-SHADOW-COLOR);
}

.galaxy-item {
  display: block;
}

.classic-item {
  display: none;
}

.display {
  border: 1px solid rgb(30, 99, 35);
  outline: 2px solid rgba(27, 80, 27, 0.623);
  box-shadow: var(--BOX-SHADOW);
}

h1.heading {
  font-family: "Tourney";
  font-weight: 100;
  font-size: clamp(1rem, 5dvw, 1.4rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  background: linear-gradient(to right, rgb(92, 1, 54), rgb(14, 53, 138));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
  margin: 20px 0 10px;
  width: 300px;
  color: rgba(255, 255, 255, 0.171);
  filter: brightness(2);
  z-index: 10;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  background: linear-gradient(
    to top,
    rgb(9, 5, 19),
    rgba(54, 44, 104, 0.952),
    40%,
    rgb(13, 13, 14)
  );
  z-index: 3;
}

.planet {
  background-color: rgb(1, 20, 46);
  border-radius: 50%;
  border-left: 5px solid rgba(56, 157, 224, 0.822);
  width: 90%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: translate(60dvw, 70dvh);
  box-shadow: 10px 50px 200px 200px rgba(5, 89, 95, 0.596),
    10px 50px 200px 200px rgba(4, 140, 158, 0.548),
    1px 1px 50px 50px rgba(44, 96, 126, 0.911),
    inset 10px -30px 15px 25px rgba(49, 179, 212, 0.411),
    inset 100px -80px 80px 80px rgba(33, 106, 175, 0.911);
  opacity: 0.5;
  filter: brightness(1.2);
  z-index: 3;
}

footer {
  color: rgb(165, 165, 165);
}
