h1.heading {
  font-family: "NotoSansMath";
  letter-spacing: 2px;
  font-weight: 100;
  font-size: clamp(16px, 6vw, 1.6rem);
  text-transform: uppercase;
  color: var(--text-color);
  position: relative;
  width: 210px;
  height: 60px;
  margin: 0 0 30px;
}

h1.heading #part-1 {
  color: rgb(87, 87, 87);
  position: absolute;
}
h1.heading #part-2 {
  color: rgb(43, 43, 43);
  font-weight: bold;
  position: absolute;
  transform: translateX(50px) translateY(30px);
}
