:root {
  --menu-item: rgb(219, 219, 219);
  --hover-color: white;
  --hover-bg: rgb(37, 37, 37);
  --heading-color: rgb(223, 8, 1);

  --menu-bg: rgb(71, 71, 71);
  --menu-width: clamp(60px, 10vw, 100px);
  --menu-height: clamp(120px, 15vh, 250px);
  --translate-value: calc(var(--menu-height) * (-0.7));
}

.menu {
  position: absolute;
  right: 10dvw;
  top: 0px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  width: var(--menu-width);
  height: var(--menu-height);
  background: var(--menu-bg);
  color: var(--menu-item);
  transform: translateY(var(--translate-value));
  transition: transform 0.4s ease;
  --radius: 15px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 6;

  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.menu.open {
  transform: translateY(0);
}

.menu .menu-content {
  visibility: hidden;
}

.menu.open .menu-content {
  visibility: visible;
}

.menu.open .menu-content h2.theme {
  font-size: clamp(0.9rem, 1vw, 1.3rem);
  color: var(--heading-color);
  margin-bottom: 3px;
}

.menu.open .menu-content .item-container {
  cursor: pointer;
}

.menu.open .menu-content .item-container .menu-item {
  font-size: clamp(0.8rem, 1vw, 1.1rem);
  padding: 2px 0;
  color: var(--menu-item);
}
.menu.open .menu-content .item-container .menu-item:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg);
}

.menu .menu-text {
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  cursor: pointer;
}
.menu .menu-text:hover {
  color: var(--hover-color);
}
