.menu {
  position: absolute;
  right: 10vw;
  top: 0px;
  width: var(--menu-width);
  height: 40px;
  height: calc(var(--menu-height) * 0.4);
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  z-index: 5;
}

.menu .panel #menu-text {
  font-size: calc(10px, 1vw, 1.2rem);
  cursor: pointer;
}
.menu.open .panel #menu-text {
  display: none;
}

.menu .panel #menu-content {
  display: none;
}

.menu.open .panel #menu-content {
  display: flex;
}

.menu .panel #menu-content h2 {
  color: red;
  text-transform: uppercase;
  font-size: calc(12px, 2vw, 1.5rem);
  cursor: default;
}

.menu .panel {
  --radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: var(--menu-width);
  height: var(--menu-height);
  background: var(--text-color);
  color: var(--menu-item);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 0 5px;
  padding-bottom: 12px;
  transform: translateY(var(--translate-value));
  transition: transform 0.4s ease;
  box-shadow: 2px 1px 5px 2px rgb(134, 134, 134);
}

.menu.open .panel {
  transform: translateY(0);
}

.menu .panel * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  letter-spacing: 1px;
}

.item-container {
  margin-top: 4px;
  gap: 1vh;
  width: 100%;
}

.item-container .menu-item:hover {
  color: var(--menu-item-hover);
  background-color: grey;
  /* border-radius: 20px; */
  cursor: pointer;
}
