@font-face {
  font-family: "NotoSansMath";
  src: url("../fonts/NotoSansMath-Regular.ttf") format("truetype");
}

/* font button */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

/* font display */
@font-face {
  font-family: "SevenSegment";
  src: url("../fonts/SevenSegment.ttf") format("truetype");
}

:root {
  --device-width: 300px;
  --device-padding-x: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(231, 231, 231);
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

main {
  padding: 20px;
  transform: scale(2);
  z-index: 2;
}

.device {
  width: var(--device-width);
  border-radius: 20px;
  padding: 40px var(--device-padding-x);
  background-color: white;
  border: 1px solid rgb(134, 134, 134);
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: fit-content;
  text-transform: uppercase;
}

.display {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgb(104, 104, 104);
  background-color: rgb(39, 39, 39);
  border-radius: 3px;
  font-size: larger;
  text-align: end;
  padding: 0 10px;
  letter-spacing: 1px;
  font-family: "SevenSegment", sans-serif;
  font-size: 2rem;
}

.display.on {
  background-color: rgb(216, 216, 216);
}

.button-field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  margin-top: 20px;
}

.btn {
  font-family: "Poppins";
  text-align: center;
  padding: 10px 5px;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(212, 212, 212, 0.938);
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background-color: rgb(236, 236, 236);
}

.btn:active {
  background-color: rgb(209, 209, 209);
}

.btn#result {
  grid-column: span 2;
}
