@font-face {
  font-family: "NotoSansMath";
  src: url("../fonts/NotoSansMath-Regular.ttf") format("truetype");
}

/* font button */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

:root {
  --device-width: 300px;
  --device-padding-x: 20px;

  /* Colors */
  --body-bg: rgb(231, 231, 231);
  --device-bg: rgb(255, 255, 255);
  --border-color: rgb(134, 134, 134);
  --outline-color: rgb(34, 34, 34);

  --text-color: rgb(71, 71, 71);
  --keys-bg: hsl(0, 0%, 95%);
  --keys-shadow: rgba(212, 212, 212, 0.938);
  --keys-hover: rgb(223, 223, 223);
  --keys-active: rgb(209, 209, 209);

  --menu-item: rgb(219, 219, 219);
  --menu-item-hover: white;

  --display-off: rgb(75, 75, 75);
  --display-on: rgb(218, 218, 218);
  --display-light-color: #4e4e4e;
  --display-light-color2: #ffffff;
  --intens-1: 2px;
  --intens-2: 20px;
  --display-light: inset 1px 1px var(--intens-1) var(--display-light-color),
    inset 1px 1px var(--intens-2) var(--display-light-color2);

  /* Menu */
  --menu-width: clamp(60px, 13vw, 100px);
  --menu-height: clamp(100px, 15vh, 250px);
  --translate-value: calc(var(--menu-height) * (-0.6));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 100%;
  min-height: 100dvh;
  max-height: max-content;
  background-color: var(--body-bg);
  font-family: "Poppins";
  font-size: 1rem;
}

.background,
.planet {
  position: absolute;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  transform: scale(1);
  transition: transform 0.5s;
  z-index: 5;
}

footer {
  height: clamp(70px, 10vh, 110px);
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  z-index: 4;
}

@media (max-height: 600px) {
  .content {
    margin: 30px 0;
  }
}

@media (min-width: 450px) and (min-height: 620px) {
  .content {
    transform: scale(1.2);
  }
}

@media (min-width: 700px) and (min-height: 900px) {
  .content {
    transform: scale(1.6);
  }
}
